* {
  margin: 0;
}
.calcS {
  font-family: Roboto, Arial;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
  padding-top: 1rem;
}

.labelInpt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelcontainer {
  display: flex;
  flex-direction: column;
}

.labelcalc {
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
}

.imageLabelCS {
  height: 650px;
  width: 244px;
  padding: 20px 0 0 0;
  max-width: 100%;
  display: inline-block;
  box-sizing: border-box;
  margin-left: 28rem;
  position: relative;
}

.divDescr {
  position: absolute;
  left: 31rem;
  display: flex;
  flex-direction: column;
}

.descrB {
  text-align: center;
  word-spacing: 0px;
  color: #4d95d0;
  background-position: 0% 0%;
  height: auto;
  width: auto;
  display: inline;
  transform: none;
  box-sizing: border-box;
}

.descr1B {
  position: absolute;
  top: 12rem;
  color: #4d95d0;
}

.descr2B {
  position: absolute;
  top: 20rem;
  color: #4d95d0;
}

.descr3B {
  position: absolute;
  top: 26rem;
  color: #4d95d0;
  left: 2rem;
}

.forma {
  display: flex;
}

.a {
  width: 240px;
  height: 70px;
  padding: 10px;
  line-height: 50px;
  background-color: #eee;
  border: 0px;
  box-sizing: border-box;
  font-size: 30px;
  color: #444;
  text-align: center;
  box-shadow: none !important;
}

.label {
  line-height: 70px;
  font-size: 30px;
  padding-top: 22px;
  padding-right: 10px;
}

.mm {
  line-height: 70px;
  font-size: 24px;
  padding-top: 20px;
  padding-left: 15px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10rem;
}

.offres {
  display: block;
  font-size: 48px;
  line-height: 48px;
  color: #4d95d0;
  padding: 10px 0px 40px 0px;
}

.alrt {
  margin-top: -20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
