.app {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: center;
  margin-left: 10rem;
  margin-top: 2px;
}

.sts808 {
  background-color: #ffffff;
  height: 45rem;
  width: 48%;
}

.sts810 {
  height: 45rem;
  width: 48%;
  background-color: #ffffff;
}

.sts816 {
  height: 45rem;
  width: 48%;
  background-color: #ffffff;
}

.link {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: #fafafa;
  height: 482px;
  width: 410px;
  margin: 19px 0px 0px 0px;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.25s ease 0s;
  box-sizing: border-box;
  border-radius: 8px;
  text-decoration: none;
}

.link:hover {
  background-color: #ececec;
}

h3 {
  font-size: 30px;
  line-height: 45px;
  color: #ed1c24;
  font-weight: 400;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  transition: all 0.25s ease 0s;
}

@media screen and (max-device-width: 480px) {
  .app{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 100%;
    margin: 0px
  }

  .app div{
    width: auto;
    height: 350px;
    margin-left: 35px;
  }

  .link{
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 320px;
    height: 380px;
    display: inline-block;
  }

  .content{
    box-sizing: border-box;
  }

  h3{
    font-size: 25px;
  }


  .link .imageWrapper {
    height: 230px;
    width: 230px;
    margin: 0px;
    padding: 0px;
  }
}