.header {
  background-color: #f5f5f5;
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 248px;
}

.logo {
  height: 171px;
  margin: 20px 20px 0px 20px;
}

.lang {
  margin-top: 87px;
  margin-right: 20px;
  display: block;
}

.bg {
  margin-right: 20px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {

  .header {
    height: 200px;
    width: auto;
  }

  .logo {
    height: 90px;
    width: 170px;
  }

  .bg {
    width: 60px;
    height: 40px;
    margin-bottom: 0px;
  }

  .en {
    width: 60px;
    height: 40px;
    margin-bottom: 0px;
  }
}

@media screen and (min-device-width: 480px) and (max-device-width: 768px) {

  .header{
    height: 200px;
    width: 100%;
  }

  .logo{
    height: 110px;
    width: 190px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header{
    width: 100%;
  }
}