.menu {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  height: 32rem;
  padding-top: 5rem;
}

.labelMach {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: #fafafa;
  height: 482px;
  width: 410px;
  margin: 15px 0px 0px 0px;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.25s ease 0s;
  box-sizing: border-box;
  border-radius: 8px;
  text-decoration: none;
}

.labelMach:hover {
  background-color: #ececec;
}

.imgWrap img {
  margin-top: 30px;
  background: 50% 50%;
  height: 366px;
  width: 366px;
  position: absolute;
  display: block;
  transform: matrix(0, 911466, 0, 0, 0.911466, 0, 0);
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid grey;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    padding: 0px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
  }

  .labelMach {
    margin: 30px 0px 0px 0px;
    padding: 0px;
    width: 320px;
    height: 265px;
  }

  h3 {
    font-size: 25px;
  }

  .imgWrap img {
    height: 200px;
    width: 200px;
    margin: 0px 0px 20px 65px;
  }
}

@media screen and (min-device-width: 480px) and (max-device-width: 768px) {
  .menu{
    padding: 0px;
    margin: 0px;
    height: 100px;
  }

  h3{
    font-size: 25px;
  }

  .labelMach{
    width: 300px;
    height: 380px;
  }

  .imgWrap img{
    height: 250px;
    width: 250px;
  }
}
