.wrapper{
    text-align: center;
    display: block;
    float: left;
    width: 100%;
    margin-top: 60px;
  }
  
  .paragraph{
    font-size: 20px;
  }
  
  .buttons{
    margin-top: 55px;
  }
  
  .labelcontainer{
    display: flex;
  }

  .imageWrapper{
    display: inline-block;
    width: 370px;
    height: 370px;
    border: 2px solid #a1a1a1;
    border-radius: 200px;
    background-color: #fff;
    box-shadow: 0px 9px 14px #ccc;
    overflow: hidden;
    position: relative;
  }

  .buttons a{
    color: #fff;
    background-color: #4e94ce;
    border: 1px solid #4e94ce;
    padding: 15px 70px;
    margin-right: 20px;
    margin-top: 90px;
    transition-duration: 0.4s;
    transition: all 250ms ease;
    text-align: center;
    text-decoration: none;
  }
  
  .wrapper a:hover {
    background-color: #fff; 
    color: #4e94ce
  }
  
  
  .footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: #24272e;
      padding: 5px 0px;
      text-align: center;
      color: #c2c2c1;
      font-size: 16px;
  }